@import url(/styles/apresentacao.css);
@import url(/styles/header.css);
@import url(/styles/carrossel.css);
@import url(/styles/flashcard.css);

:root {
    --cor-principal: #8b60d1;
    --cor-secundaria: #D65DB1;
    --cor-rosa: #e454ad;
    --cor-laranja: #FF9671;
    --cor-fundo: #FFC75F;
    --cor-escrita: #F9F871;
    --cor-botao: #1cc0a5;
    --cor-preto: #000000;
    --cor-branco: #ffffff;
}



